body, html {
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Cor de fundo do corpo */
    font-family: Arial, sans-serif; /* Fonte principal */
    color: #333; /* Cor do texto principal */
}

.titulo {
    font-size: 20vw; /* Tamanho do texto responsivo */
    line-height: 1.6;
    height: 10vh; /* Altura responsiva */
}

.caixa p {
    font-size: 1.6vw; /* Tamanho do texto responsivo */
    line-height: 1.5; /* Altura da linha */
    color: #eee; /* Cor do texto */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh; /* Espaçamento superior responsivo */
}

.imagem-centralizada {
    width: 80%; /* Largura da imagem responsiva */
    max-width: 200px; /* Largura máxima */
    height: auto; /* Altura automática */
}

.titulo h3 {
    padding: 2vh; /* Espaçamento ao redor do texto responsivo */
    font-size: 1.6vw; /* Tamanho do texto responsivo */
    color: #09c25c; /* Cor do texto */
    text-align: center;
}

#jp {
    width: 80%; /* Largura da imagem responsiva */
    max-width: 200px; /* Largura máxima */
    height: auto; /* Altura automática */
    margin-top: 2vh; /* Espaçamento superior responsivo */
}

#certificado {
    text-align: center; /* Centralizar texto */
    color: #09c25c; /* Cor do texto */
    font-size: 3vw; /* Tamanho da fonte responsivo */
    margin-top: 5vh; /* Espaçamento superior responsivo */
    margin-bottom: 2vh; /* Espaçamento inferior responsivo */
}

/* Para movimentar para cima e para baixo */
#certificado.cima {
    margin-top: 50vh;
}

#certificado.baixo {
    margin-top: 5vh;
}

video {
    width: 80%; /* Largura do vídeo responsiva */
    height: 40vh; /* Altura do vídeo responsiva */
    float: right; /* Move o vídeo para a direita */
}

#titulo-especial {
    padding: 2vh; /* Espaçamento ao redor do texto responsivo */
    font-size: 2vw; /* Tamanho do texto responsivo */
    color: #09c25c; /* Cor do texto */
    text-align: center;
    margin-top: 3vh; /* Espaçamento superior responsivo */
}

input[type="text"],
input[type="tel"],
input[type="submit"] {
    width: 80%; /* Largura do input responsiva */
    padding: 1vh; /* Preenchimento responsivo */
    margin-bottom: 2vh; /* Espaçamento inferior responsivo */
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #09c25c;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #087f48;
}
